/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  /* max-width: 1140px; */
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
}

li:hover {
  color: #b1663c;
  color: black;
  text-decoration: none;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* css pour les boutons */
.filtres {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}
.filtres button {
  background-color: #fffef8;
  border: 1px solid #1d6154;
  color: #1d6154;
  border-radius: 60px;
  min-width: 100px;
  font-family: Syne;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  padding: 9px;
}

.filtres .btnFilled {
  background-color: #1d6154;
  color: #fff;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

/* Pour le banner en mode edition */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  height: 59px;
}
.banner p {
  padding-left: 12.3px;
  padding-right: 21px;
}
.banner button {
  background-color: #fff;
  border: none;
  color: #000;
  border-radius: 60px;
  min-width: 100px;
  font-family: "work sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  padding: 11px 23px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  width: 80%;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
nav li a {
  color: black;
  text-decoration: none;
}
li:hover,
li a:hover {
  color: #b1663c;
}
#main-login {
  margin-bottom: 355px;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  width: 90%;
  margin-bottom: 15px;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}
#portfolio {
  margin: 50px auto;
  width: 100%;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

#portfolio .loggedIn {
  display: inline;
  margin-left: 20px;
  color: #000;
  font-family: "Work Sans";
  font-size: 14px;
}

#portfolio .link-modal {
  display: inline;
  cursor: pointer;
}
.link-modal-intro {
  margin-top: 20px;
}
/* css pour les boutons */
.filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}
.filter button {
  background-color: #fffef8;
  border: 1px solid #1d6154;
  color: #1d6154;
  border-radius: 60px;
  min-width: 100px;
  font-family: Syne;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  padding: 9px;
}

.filter .btnFilled {
  background-color: #1d6154;
  color: #fff;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding-left: 10px;
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding-left: 10px;
  padding-top: 10px;
}
#contact input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
.error {
  margin-top: 20px;
  color: #d65353;
  text-align: center;
}
footer {
  background-color: #fff;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 107px;
}

/* Style des éléments d'édition */
.header {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}

.editBanner {
  display: flex;

  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  margin: 0px;
  margin-bottom: 15px;
  height: 60px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

.publishBtn {
  border-radius: 60px;
  background-color: white;
  height: 40px;
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 20px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.editBannerElement {
  margin-top: auto;
  margin-bottom: auto;
}

.titleAndNav {
  display: inline-flex;
  width: 100%;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.introduction {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.editProfilePicPrompt {
  width: 90%;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.worksTitleDiv {
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.editWorksBtn {
  margin-left: 5%;

  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.3s both;
}

.modal-wrapper {
  background-color: white;
  width: 50%;
  height: 50%;
  padding: 20px;
  overflow: auto;
  animation: slideFromTop 0.3s both;
}

.loginSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginForm,
.addWorkForm {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-around;
  width: 40%;
}

.loginForm p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
}

.forgotPwdLink {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;

  color: #3d3d3d;
}

.userNotFound {
  color: red;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}

.modal-wrapper {
  border-radius: 10px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modaleTitle {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.closeModale {
  float: right;
}

.closeModale:hover {
  cursor: pointer;
  border-style: solid;
}

.modaleContentCatalogue {
  display: grid;
  justify-content: flex-start;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.workModFigure {
  width: 100%;
  margin-right: 1%;
  height: auto;

  margin-bottom: 10px;
  position: relative;
}

.workModImage {
  width: 100%;

  object-position: center;
  object-fit: cover;
  height: 16vh;
}

.modaleContentAddWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-top: 1px solid #b3b3b3;
  margin: auto;
}

.modaleContentAddWorks a {
  color: red;
}

.trashSymbolImgDiv {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 2px;
  background-color: black;
  color: white;
  width: auto;
  height: auto;
  padding: 7px;
}

.trashSymbolImgDiv a {
  margin: auto;
}

.expandSymbolDiv {
  position: absolute;
  top: 5px;
  right: 35px;
  border-radius: 2px;
  background-color: black;
  color: white;
  width: auto;
  height: auto;
  padding: 7px;
}

.expandSymbolDiv a {
  margin: auto;
}

.modale2 {
  display: flex;
  position: relative;
  flex-direction: column;
}

.arrowLeft {
  float: left;
}

.divAjoutPhotos {
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.addWorkForm {
  width: 100%;
}

.changeButton {
  border-style: none;
  background-color: #fff;
}

.Project {
  display: inline;
  text-align: center;
}

.validerAjoutPhotos {
  height: auto;
  display: flex;
  padding-top: 140px;
  font-size: 1.2em;
  border-top: 1px solid #b3b3b3;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.hrLineAddWorkForm {
  width: 100%;
  margin-top: 20px;
  background-color: #b3b3b3;
  border: 1px solid #b3b3b3;
}

.dropzone {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  background-color: #e8f1f7;
}

.dropzone.dragover {
  background-color: purple;
}

.dragging {
  opacity: 0.5;
}

#imageInput {
  display: flex;
}

.addImgLabel:hover {
  cursor: pointer;
}

.faAddImgSquare {
  color: #b9c5cc;
  font-size: 4em;
}

.addImgLabel {
  display: flex;
  width: 50%;
  background-color: #cbd6dc;
  border-radius: 50px;
  height: 40px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #306685;
}

.imgDivLabel {
  margin: 0px;
  all: unset;
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgDivLabel:hover {
  cursor: pointer;
}

.newImgDisplay {
  height: 100%;
  object-fit: cover;
}

.addWorkFormMandatoryStar {
  color: red;
}
.addWorkLabel {
  display: flex;
}
/* animations  */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0px);
  }
}
